<!DOCTYPE html>
<html>
<head>
	<title>Redis Flask App</title>
	<style>
		body {
			background-color: #f5f5f5;
			font-family: Arial, sans-serif;
		}

		.container {
			margin: 50px auto;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
			text-align: center;
			max-width: 600px;
		}

		h1 {
			font-size: 36px;
			margin-bottom: 20px;
			color: #333;
		}

		.count {
			font-size: 24px;
			color: #999;
		}

		.count span {
			font-weight: bold;
			color: #333;
		}

		button {
			padding: 10px 20px;
			font-size: 16px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.3s ease;
		}

		button:hover {
			background-color: #0062cc;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Redis Flask App</h1>
		<p class="count">The page has been refreshed <span>{{ count }}</span> times.</p>
		<button onclick="window.location.reload()">Refresh</button>
	</div>
</body>
</html>
