.container {
	width: 400px;
	margin: auto;
	margin-top: 100px;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 10px #ddd;
  }
  
  h1 {
	text-align: center;
	margin-bottom: 30px;
  }
  
  form {
	display: flex;
	flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
	border-radius: 5px;
	border: none;
	padding: 10px;
	margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
	background-color: #f2f2f2;
  }
  
  input[type="submit"] {
	background-color: #0066cc;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
	background-color: #0052a3;
  }
  
  p {
	text-align: center;
	margin-top: 20px;
  }
  