/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
  }
  
  button {
    border: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Header Styles */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .header h1 {
    font-size: 36px;
  }
  
  .header nav ul {
    display: flex;
  }
  
  .header nav li {
    margin-right: 20px;
  }
  
  .header nav li:last-child {
    margin-right: 0;
  }
  
  .header nav a {
    font-size: 18px;
  }
  
  .header nav a:hover {
    color: #555;
  }
  
  /* Hero Section Styles */
  .hero {
    background-color: #333;
    color: #fff;
    padding: 100px;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .hero button {
    font-size: 20px;
  }
  
  /* Featured Movies Styles */
  .featured-movies {
    padding: 80px;
  }
  
  .featured-movies h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .movie-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .movie-card {
    width: calc(33.33% - 20px);
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  }
  
  .movie-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .movie-card p {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    font-size: 18px;
  }
  