.movie-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .movie-card {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
	margin: 16px;
	max-width: 400px;
	overflow: hidden;
	text-align: center;
  }
  
  .movie-title {
	background-color: #333;
	color: #fff;
	font-size: 24px;
	margin: 0;
	padding: 16px;
  }
  
  .movie-info {
	font-size: 16px;
	margin: 16px;
  }
  .search-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.search-container form {
	display: flex;
	align-items: center;
}

.search-container input[type="text"] {
	border: none;
	border-radius: 20px;
	padding: 10px;
	margin-right: 10px;
	font-size: 16px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 300px;
}

.search-container button {
	border: none;
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border-radius: 20px;
	font-size: 16px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.search-container button:hover {
	background-color: #3e8e41;
}

h1 {
	font-family: "Segoe UI", sans-serif;
	font-size: 48px;
	color: #333;
	text-align: center;
	margin-top: 50px;
  }
  .search-bar {
	display: inline-block;
  }
  
.movie-card {
	position: relative;
  }
  
.remove-movie-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: transparent;
	border: none;
	cursor: pointer;
  }
  
.remove-movie-btn:hover i {
	color: red;
  }
  
  /* Style for form */
  #movie-form {
    max-width: 600px;
    margin: auto;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .btn:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }

  /* Style for icon */
  .fas.fa-plus-circle {
    margin-right: 0.5rem;
  }
  #add-movie-btn {
	background-color: blue;
	color: white;
  }
  