<!DOCTYPE html>
<html>
<head>
	<title>My Flask App</title>
	<style>
		body {
			background-color: #4CAF50;
		}
		img {
			display: block;
			margin: 0 auto;
			width: 200px;
			height: 200px;
		}
	</style>
</head>
<body>
	<img src="{{url_for('static', filename='img/thumb_up.png')}}" alt="Thumb up">
	<h1 style="text-align:center; color: white;">Welcome to my Flask app!</h1>
</body>
</html>
