<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form method="POST">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
  </div>
</body>
</html>
