<!DOCTYPE html>
<html>
<head>
	<title>Movies</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main-page.css') }}">
</head>
<body>
	<div class="header">
		<h1>Movies</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="/movies">Movies</a></li>
                <li><a href="/login">Login</a></li>
			</ul>
		</nav>
	</div>

	<div class="hero">
		<h2>Welcome to the Movies Website</h2>
		<p>Explore our collection of movies and TV shows, and find your next favorite.</p>
		<button>Start Browsing</button>
	</div>

	<div class="featured-movies">
		<h2>Featured Movies</h2>
		<div class="movie-container">
			<div class="movie-card">
				<h3>Movie Title</h3>
				<p>Genre: Action</p>
				<p>Director: John Smith</p>
				<p>Release Year: 2022</p>
			</div>
			<div class="movie-card">
				<h3>Movie Title</h3>
				<p>Genre: Drama</p>
				<p>Director: Jane Doe</p>
				<p>Release Year: 2021</p>
			</div>
			<div class="movie-card">
				<h3>Movie Title</h3>
				<p>Genre: Comedy</p>
				<p>Director: David Lee</p>
				<p>Release Year: 2020</p>
			</div>
		</div>
	</div>

	 <div class="footer">
		<p> &copy; 2023 Movies Website </p>
	</div> 
</body>
</html>
