<!DOCTYPE html>
<html>
<head>
	<title>Movies</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <h1>Movies</h1>
  <div class="search-container">
    <form action="{{ url_for('search_movies') }}" method="POST">
      <div class="search-bar">
        <input type="text" name="query" placeholder="Search movie titles">
        <button type="submit">Search</button>
      </div>
    </form>
    <button id="add-movie-btn" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i> Add Movie
      </button>    
  </div>  
  
  <form id="movie-form" method="POST" action="{{ url_for('add_movie') }}" style="display:none;">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
    </div>
  
    <div class="form-group">
      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre" required>
    </div>
  
    <div class="form-group">
      <label for="director">Director:</label>
      <input type="text" id="director" name="director" required>
    </div>
  
    <div class="form-group">
      <label for="year">Release Year:</label>
      <input type="text" id="year" name="year" required>
    </div>
  
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-plus-circle"></i> Submit
    </button>
  </form>  

  <div class="movie-container">
    {% for movie in movies %}
      <div class="movie-card">
        <h2 class="movie-title">{{ movie[1] }}</h2>
        <p class="movie-info">Genre: {{ movie[2] }}</p>
        <p class="movie-info">Director: {{ movie[3] }}</p>
        <p class="movie-info">Release Year: {{ movie[4] }}</p>
        <form id="movie-delete" method="POST" action="{{ url_for('delete_movie', id=movie[0]) }}">
        <div class="form-group">
            <button class="remove-movie-btn"><i class="fas fa-times"></i></button>
        </div>  
      </div>
    {% endfor %}
  </div>
  
</body>
</html>

<script>
  const addMovieBtn = document.getElementById("add-movie-btn");
  const movieForm = document.getElementById("movie-form");

  addMovieBtn.addEventListener("click", function() {
    if (movieForm.style.display === "none") {
      movieForm.style.display = "block";
    } else {
      movieForm.style.display = "none";
    }
  });
</script>